
{% extends "commons/layouts/base.html "%}

{% block title %}  Classroom 
{% endblock %}

{% block content %}
    {% include 'classbased/includes/nav.html' %}
    <br>
    <div class="container">
        <h2>Classroom</h2>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form }} <br>
            <button type="submit" class ="btn btn-primary">Submit</button>
        </form><br>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Class: </th>
                <th scope="col">Action: </th>                
            </thead>
            <tbody>
                {% for c in classrooms %}
              <tr>
                
                <td>{{ c.name}}</td>
                
                <td>
                  <a href="{% url 'classbased:classroom_update' c.id %}" class = "btn btn-primary"> Update</a>
                  <a href="{% url 'classbased:classroom_delete' c.pk%}" class = "btn btn-danger"> Delete</a>

                </td>
                
              </tr>
            {%endfor%}
            </tbody>
          </table>

    </div>
{%endblock%}