{% extends 'commons/layouts/base.html' %}



{% block content %}
{% include 'includes/nav.html' %}

    <br><br>
    <div class="container">
        <form method = "post" action="{% url 'crud_classroom' %}">
            {% csrf_token %}
            <input name = "classroom_name">
            <br><br>
            <button type = "submit"> Add Classroom</button>
        </form>
        <h1> classroom</h1>
        <div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name: </th>
                    <th scope="col">Action: </th>                
                </thead>
                <tbody>
                    {% for c in classrooms %}
                  <tr>
                    
                    <td>{{ c.name}}</td>
                    
                    <td>
                      <a href="{% url 'crud_classroom_update' c.id %}" class = "btn btn-primary"> Update</a>
                      <a href="#" class = "btn btn-danger"> Delete</a>

                    </td>
                    
                  </tr>
                {%endfor%}
                </tbody>
              </table>
        </div>

    </div>
{%endblock %}