{% extends 'commons/layouts/base.html' %}

{% block title %}
    Classroom Update
    {% endblock %}

    {% block content %}
    {% include 'includes/nav.html' %}
    <br>
    <div class="container">
        <form method="post"> 
            {% csrf_token %}
            <input name ="classroom_name" value = {{classroom.name}}>
            <button type = "submit", class = "btn btn-primary">Update</button>
            <a href="{% url 'crud_classroom' %}">Cancel</a>
        </form>

    </div>
   


    {% endblock %}