<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Page</title>
</head>
<body>
    <h1>Root Page</h1>
    <div>
        <h2>
        <a href = "{% url 'portfolio' %}">Portfolio</a><br>
        <a href = "{% url 'learning_context'%}">Context</a><br>
        <a href = "{% url 'u_boots'%}">Using bootstrap</a><br>
        <a href = "{% url 'commons_student'%}">Template Inheritance</a><br>


        </h2>
    </div>
</body>
</html>